<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Album</h3>
    </div>
    <div class="panel-body">
        <table st-table="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th>first name</th>
                    <th>last name</th>
                    <th>birth date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rowCollection">
                    <td>{{row.firstName}}</td>
                    <td>{{row.lastName}}</td>
                    <td>{{row.birthDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>